{% extends 'base.html.twig' %}

{%  block body %}
	<div class="row">
		<div class="col">
			<h1>Newsletters</h1>
			{{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
				<p>
					{{ form_label(form.email, 'Email:') }}
					{{ form_widget(form.email) }}
				</p>
				<p>
					{{ form_label(form.subscriptions, 'Abonnements:') }}
					{{ form_widget(form.subscriptions) }}
				</p>
				<p>
					<input type="submit" value="Valider" class="btn btn-primary">
				</p>
			{{ form_end(form) }}
		</div>
	</div>
{%  endblock %}






